/* Design related to change theme toggle of this project */

#theme{
    position: relative;
}

#theme *{
    display: inline-block;
}

#theme p{
    font-size: 0.4em;
    position: relative;
    bottom: 0.1em;
    right: 1em;
}

#theme-toggle{
    width: 80px;
    height: 20px;
    background-color: hsl(223, 31%, 20%);
    border-radius: 10px;
    display: inline-flex;
    justify-content: flex-start;
}

#theme-toggle:hover{
    background-color: hsl(224, 36%, 15%);
    cursor: pointer;
}

#theme-toggle-circle{
    background-color: hsl(6, 63%, 50%);
    height: 14px;
    width: 14px;
    border-radius: 50%;
    margin: 3px 6px 3px 6px;
}

  #theme-toggle::after{
    content: '1 2 3';
    letter-spacing: 0.9em;
    font-size: 0.3em;
    width: max-content;
    position: absolute;
    bottom: 2.7em;
    right:2px;
  }